# .env.example

# S3 Configuration
S3_BUCKET_NAME=<your_s3_bucket_name>
S3_ACCESS_KEY=<your_s3_access_key>
S3_SECRET_KEY=<your_s3_secret_key>
S3_REGION=<your_s3_region>

# Database Configuration
DB_HOST=<your_database_host>
DB_PORT=<your_database_port>
DB_NAME=<your_database_name>
DB_USER=<your_database_user>
DB_PASSWORD=<your_database_password>

# JWT Configuration
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRATION_TIME=<your_jwt_expiration_time>  
